@{
    ViewData["Title"] = "হাদিস";
    Layout = "~/Views/Shared/_LayoutIslamicLife.cshtml";
}

<style>
    .surano {
        margin: auto;
        position: relative;
        top: 25%;
        color: white;
        font-size: 1rem;
    }

    .col-middle {
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-link.active {
        color: #2d99b5;
        background-color: #2d99b5;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .header-image {
        background: url('/images/hadith/hadithnumberimg.svg');
        background-position: center;
        background-size: contain;
        height: 40px;
        background-repeat: no-repeat;
        margin: auto;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
        color: #129AE8;
    }

    .accordion-item {
        background-color: #fff;
    }

    .cardBoxCustom {
        /*margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 4px #888888;*/

        margin: 2%;
        position: relative;
        top: 25%;
        color: #E0B11A;
        font-size: 1rem;
    }

    .accordion-button {
        padding: 0.5rem 1rem;
    }

        .accordion-button::after {
            margin: auto;
        }

    .accordion-flush .accordion-item {
        border-radius: 6px;
    }

        .accordion-flush .accordion-item .accordion-button {
            border-radius: 6px;
        }

    .just-line-break {
        white-space: pre-line;
    }

    main {
        background-color: rgba(248, 248, 248, 1);
    }
</style>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.15.0/firebase-analytics.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyDtsfup4i5q0QBvjQ5fCsiTY6T0uA9Ua6M",
        authDomain: "ashtha-islamic-service.firebaseapp.com",
        projectId: "ashtha-islamic-service",
        storageBucket: "ashtha-islamic-service.appspot.com",
        messagingSenderId: "702730680243",
        appId: "1:702730680243:web:5d3b7b48ea556256a3fdc6",
        measurementId: "G-EKTHVYM075"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);
</script>
<nav class="navbar navbar-light bg-light">
    <div class="col-1 text-end">
        <a asp-action="Index" asp-controller="Landing" class="navbar-brand ">

            <i class="fa fa-angle-left "></i>
        </a>
    </div>
    <div class="col-10 ">
        <h5 class="m-0 text-center">
            হাদিস সমূহ
        </h5>
    </div>
    <div class="col-1">
    </div>
</nav>

<div id="partialView"></div>



<script>
    $(document).ready(function () {
        LoadPartialView();
    });



    function LoadPartialView() {
        $.ajax({
            type: "GET",
            async: true,
            //url: "Hadith/GetHadithData",
            url: "@Url.Action("GetHadithData", "Hadith")",
            dataType: "html",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                $('#partialView').empty();
                $('#partialView').html(data);
            }
        });

    }
</script>


