@{
    ViewData["Title"] = "আল্লাহর ৯৯ নাম";
    Layout = "~/Views/Shared/_LayoutIslamicLife.cshtml";
}

<style>
    a {
        background: white;
        margin-top: 10px;
        width:50%;
    }
</style>
<nav class="navbar navbar-light bg-light">
    <div class="col-1 text-end">
        <a asp-action="Index" asp-controller="Landing" class="navbar-brand ">

            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    <div class="col-10 ">
        <h5 class="m-0 text-center">
            আল্লাহর ৯৯ নাম
        </h5>
    </div>
    <div class="col-1">
    </div>
</nav>
<div class="playlist">
    <div class="row">
        <div class="bar">
            <a asp-action="" asp-controller="">
                <div class="col-3">
                    icon
                </div>
                <div class="col-7">
                    text
                </div>
                <div class="col-2">
                    play pause
                </div>
            </a>
        </div>
        
    </div>
</div>
