@{
    ViewData["Title"] = "আল্লাহর ৯৯ নাম";
    Layout = "~/Views/Shared/_LayoutIslamicLife.cshtml";
}

<style>
    a {
        background: white;
        margin-top: 10px;
        width:50%;
    }

    .surano {
        margin: auto;
        position: relative;
        top: 25%;
        color: #E0B11A;
        font-size: 1rem;
    }

    .col-middle {
        margin-top: auto;
        margin-bottom: auto;
    }

    .nav-link.active {
        color: #2d99b5;
        background-color: #2d99b5;
        border-color: #dee2e6 #dee2e6 #fff;
    }

    .header-image {
        background: url('/images/hadith/hadithnumberimg.svg');
        background-position: center;
        background-size: contain;
        height: 40px;
        background-repeat: no-repeat;
        margin: auto;
        text-align: center;
    }

    a:hover {
        text-decoration: none;
        color: #129AE8;
    }

    .accordion-item {
        background-color: #fff;
    }

    .cardBoxCustom {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 4px #888888;
    }

    .accordion-button {
        padding: 0.5rem 1rem;
    }

        .accordion-button::after {
            margin: auto;
        }

    .accordion-flush .accordion-item {
        border-radius: 6px;
    }

        .accordion-flush .accordion-item .accordion-button {
            border-radius: 6px;
        }

    .just-line-break {
        white-space: pre-line;
    }

    main {
        background-color: rgba(248, 248, 248, 1);
    }

    .cstmBoxCard{
        background: #FFFFFF;
        border-radius: 4px;
    }

    .playlist {
        padding: 0px;
        margin-right: 12px;
        margin-left: 12px;
    }
</style>
<nav class="navbar navbar-light bg-light">
    <div class="col-1 text-end">
        <a asp-action="Index" asp-controller="Landing" class="navbar-brand ">

            <i class="fa fa-angle-left"></i>
        </a>
    </div>
    <div class="col-10 ">
        <h5 class="m-0 text-center">
            আল্লাহর ৯৯ নাম
        </h5>
    </div>
    <div class="col-1">
    </div>
</nav>
<div id="partialView2"></div>

@section scripts {  
    <script>

        $(document).ready(function () {
            LoadPartialView();

        });

        function LoadPartialView() {
            $.ajax({
                type: "GET",
                async: true,
                //url: "/NamesOfAllah/GetNameofAllah",
                url: "@Url.Action("GetNameofAllah2", "NamesOfAllah")",
                dataType: "html",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#partialView2').empty();
                    $('#partialView2').html(data);
                }
            });
        }


        function play(id,element)
        {
            //currentPlayingTrack.play();
            $('#play').hide();
            $('#pause').show();
            AudioPlay(id,element);
            
        };

        function pause() {
            //currentPlayingTrack.pause();
            $('#pause').hide();
            $('#play').show();
        };




        var AudioObject = new Audio();
        function AudioPlay(id, element) {
            var elmClasslist = element.className.split(' ');
            // check div collapsed or not
            var check = elmClasslist.filter(word => word == 'collapsed');

            id = id.length == 1 ? ("0" + id + ".mp3") : (id + ".mp3");
            AudioObject.src = "https://nagad.islamicservice.net/nameAudio/" + id;

            if (check.length == 0) {
                AudioObject.play();
                $('#play').show();
            }

        }
    </script>
}